<div class="container min-cont-700">
	<div ng-if="authenticatedAdmin">
		<div class="row tableTextWhite">
			<div class="mx-auto">
				<h2 ng-if="ctrl.roomCategory.id">Edit category</h2>
				<h2 ng-if="!ctrl.roomCategory.id">New category</h2>
			</div>
		</div>
		<div class="row" ng-if="ctrl.msg">
			<div class="mx-auto">
				<p class="text-danger warn text-shadow">{{ctrl.msg}}</p>
			</div>
		</div>
		<div class="row tableTextWhite">
			<form name="roomCategoryForm" class="mx-auto col-6">
				<p>Id: {{ctrl.roomCategory.id}}</p>
				<div class="form-group">
					<label for="firstNameInput">Name:</label>
					<input type="text" class="form-control" id="firstNameInput"
						placeholder="Category name" ng-model="ctrl.roomCategory.name"
						ng-class="{validErrBorder: roomCategoryForm.name.$dirty 
						&& roomCategoryForm.name.$invalid}" name="name"
						required ng-maxlength="20">
					<small>
						<span class="form-text valid-err-text-two" 
							ng-show="roomCategoryForm.name.$dirty 
							&& roomCategoryForm.name.$invalid">
							<span ng-show="roomCategoryForm.name.$error.required">
								- Name is required. -
							</span>
							<span ng-show="roomCategoryForm.name.$error.maxlength">
								- Name must have maximum 20 characters. -
							</span>
						</span>
					</small>
					<small ng-if="ctrl.errName" class="form-text valid-err-text-two">
						- {{ ctrl.errNameMsg }} -
					</small>
				</div>
				<div class="row" ng-if="ctrl.msg">
					<div class="mx-auto">
						<p class="text-danger warn text-shadow">{{ctrl.msg}}</p>
					</div>
				</div>
				<div class="form-group mb-5 mt-3">
					<button ng-if="!ctrl.roomCategory.id" type="submit"
						class="btn btn-success" ng-click="ctrl.saveRoomCategory()"
						ng-disabled="roomCategoryForm.$invalid">
						Save
					</button>
					<button ng-if="ctrl.roomCategory.id" type="submit"
						class="btn btn-success" ng-click="ctrl.updateRoomCategory()"
						ng-disabled="roomCategoryForm.$invalid">
						Update
					</button>
				</div>
				<div class="row">
					<a class="btn btn-primary mb-3 mx-auto"
						ng-href="#!/admin/hotels/rooms/categories">Categories</a>
					<a ng-if="ctrl.roomCategory.id" class="btn btn-primary mb-3 mx-auto"
						ng-href="#!/admin/hotels/rooms/categories-add">Add another category</a>
				</div>
			</form>
		</div>
	</div>
	<div ng-if="!authenticatedAdmin"> 
		<div ng-if="authenticatedUser">
			{{ redirectToHomePage() }}
		</div>
		<div ng-if="!authenticated">
			{{ redirectToLoginPage() }}
		</div>
	</div>
</div>