<!DOCTYPE html>
<html data-ng-app="app" lang="pl">
<head>
	<meta charset="UTF-8">
	<title>Paradise Island - best trip offers!</title>
	
	<!-- Style -->
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/uploadImg.css">
	<link rel="stylesheet" href="css/moreButtonsStyle.css">
	<link rel="stylesheet" href="css/sideBar.css">
	<link rel="stylesheet" href="css/pagination.css">
	<link rel="stylesheet" href="css/profileCard.css">
	<link rel="stylesheet" href="css/footer.css">
	
	<!-- Bootstrap -->
	<script src="node_modules/jquery/dist/jquery.slim.js"></script>
	<script src="node_modules/popper.js/dist/umd/popper.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	
	<!-- jquery -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
	
	<!-- Angular -->
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-resource/angular-resource.js"></script>
	<script src="node_modules/angular-cookies/angular-cookies.js"></script>
	<script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

	<!-- Application -->
	<script src="app/index.js"></script>
	<script src="app/config.js"></script>

	<!-- Services -->
	<script src="app/services/home/homeServices.js"></script>
	<script src="app/services/users/authenticationServices.js"></script>
	<script src="app/services/users/registerServices.js"></script>
	<script src="app/services/users/userServices.js"></script>
	<script src="app/services/hotels/roomCategoryServices.js"></script>
	<script src="app/services/hotels/roomServices.js"></script>
	<script src="app/services/hotels/hotelServices.js"></script>
	<script src="app/services/location/destinationServices.js"></script>
	<script src="app/services/transport/airlineServices.js"></script>
	<script src="app/services/location/countryServices.js"></script>
	<script src="app/services/location/regionServices.js"></script>
	<script src="app/services/location/cityServices.js"></script>
	<script src="app/services/search/searchServices.js"></script>
	<script src="app/services/search/searchDetailsServices.js"></script>
	<script src="app/services/transport/airlineOfferServices.js"></script>
	<script src="app/services/profileComponent/reservationServices.js"></script>

	<!-- Controllers -->
	<script src="app/components/sidebar/adminPanelController.js"></script>
	<script src="app/components/sidebar/userPanelController.js"></script>
	<script src="app/components/footer/footerController.js"></script>
	<script src="app/components/content/home/homePage/homeController.js"></script>
	<script src="app/components/content/account/login/authenticationController.js"></script>
	<script src="app/components/content/account/registration/registerController.js"></script>
	<script src="app/components/content/account/profile/profileController.js"></script>
	<script src="app/components/content/account/profile/userDetails/userDetailsController.js"></script>
	<script src="app/components/content/account/profile/reservation/reservationListController.js"></script>
	<script src="app/components/content/account/profile/reservation/details/reservationDetailsController.js"></script>
	<script src="app/components/content/users/list/userListController.js"></script>
	<script src="app/components/content/users/edit/userEditController.js"></script>
	<script src="app/components/content/offer/hotel/room/category/list/roomCategoryListController.js"></script>
	<script src="app/components/content/offer/hotel/room/category/edit/roomCategoryEditController.js"></script>
	<script src="app/components/content/offer/hotel/room/list/roomListController.js"></script>
	<script src="app/components/content/offer/hotel/room/edit/roomEditController.js"></script>
	<script src="app/components/content/offer/hotel/list/hotelListController.js"></script>
	<script src="app/components/content/offer/hotel/edit/hotelEditController.js"></script>
	<script src="app/components/content/offer/location/destination/list/destinationListController.js"></script>
	<script src="app/components/content/offer/transport/airline/list/airlineListController.js"></script>
	<script src="app/components/content/offer/transport/airline/edit/airlineEditController.js"></script>
	<script src="app/components/content/offer/search/searchListController.js"></script>
	<script src="app/components/content/offer/search/details/searchDetailsController.js"></script>
	<script src="app/components/content/offer/transport/airlineOffer/list/airlineOfferListController.js"></script>

	<!-- Directives -->
	<script src="app/directive/fileModelDirective.js"></script>
	<script src="app/directive/compareTo.js"></script>
	<script src="app/directive/confirmDialogDirective.js"></script>
</head>
<body>
	<div ui-view="header" class="sticky-top"></div>
	<div ng-if="authenticated">
		<div id="sticky-anchor" style="top: 58px;"></div>
		<div class="page-wrapper chiller-theme toggled text-size-rem-09">
			<div ng-if="authenticatedAdmin">
				<div ui-view="adminPanel"></div>
			</div>
			<div ng-if="authenticatedUser">
				<div ui-view="userPanel"></div>
			</div>
			<div class="page-content">
				<main role="main" class="main">
					<div ui-view="content"></div>
				</main>
			</div>
		</div>
	</div>
	<div ng-if="!authenticated" class="mt-4">
		<div ui-view="content"></div>
	</div>
	<div ui-view="footer"></div>
</body>
</html>