<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="form">
				<div class="input-group mb-2 mr-sm-2">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<input type="text" class="form-control" id="searchInput"
						placeholder="Hotel Name" ng-model="hotelName">
					<button class="btn btn-primary mx-1"
						ng-click="ctrl.search(hotelName)">Search</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card border-dark mb-3" ng-repeat="hotel in ctrl.hotelArray">
		<div class="row no-gutters">
			<div class="col-md-4 text-center bg-secondary">
				<img ng-src="data:image/jpeg;base64,{{hotel.imgSrc}}"
					class="card-img img-fluid imageListResult" alt="...">
			</div>
			<div class="col-md-8">
				<ul class="list-group list-group-horizontal" style="height: 100%;">
					<li class="list-group-item w-100">
						<div class="">
							<div class="items col-12 clearfix">
								<div class="info-block block-info clearfix">
									<div class="square-box">
										<span class="glyphicon glyphicon-user glyphicon-lg"></span>
									</div>
									<div class="row">
										<div>
											<small>{{hotel.country}} / {{hotel.region}} / {{hotel.city}}</small>
										</div>
										<div class="w-100 mb-1"></div>
										<div class="font-weight-bold">
											#{{hotel.id}}.
											<strong>{{hotel.hotelName}}</strong>
										</div>
										<div class="w-100 mb-3"></div>
										<div class="card-text">
											<ul class="dashed">
												<li ng-repeat="hotelAdvantageDto 
													in hotel.hotelAdvantageDto | limitTo:4">
													{{hotelAdvantageDto.descriptionAdvantage}}
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item-dark p-2" ng-show="authenticatedAdmin"
						style="display: flex; align-items: center;">
						<div class="btn-group-vertical">
							<button class="btn btn-sm btn-primary mb-3" title="Edit">
								<a ng-href="#!/hotels-edit/{{hotel.id}}" class="text-white">
									<i class="fas fa-edit"></i>
								</a>
							</button>
							<button class="btn btn-sm btn-warning mb-3" title="Rooms">
								<a ng-href="#!/hotels/{{hotel.id}}/rooms" class="text-white">
									<i class="fas fa-door-open"></i>
								</a>
							</button>
							<button class="btn btn-sm btn-danger" title="Delete">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-show="ctrl.hotelDataLoaded">
		<nav aria-label="Page navigation">
			<ul class="pagination pagination-v1 justify-content-center">
				<li class="page-item">
					<a ng-click="ctrl.firstPage()" 
						class="page-link" href="" tabindex="-1">
						<i class="fa fa-angle-double-left"></i>
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.previousPage()" 
						class="page-link" href="" tabindex="-1">
						<i class="fa fa-angle-left"></i>
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.loadPage(ctrl.numButton - 2)" 
						class="page-link" id="firstButton" href="">
						{{ctrl.numButton - 2}}
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.loadPage(ctrl.numButton - 1)" 
						class="page-link" id="secondButton" href="">
						{{ctrl.numButton - 1}}
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.loadPage(ctrl.numButton)" 
						class="page-link" id="thirdButton" href="">
						{{ctrl.numButton}}
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.loadPage(ctrl.numButton + 1)" 
						class="page-link" id="fourthButton" href="">
						{{ctrl.numButton  + 1}}
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.loadPage(ctrl.numButton + 2)" 
						class="page-link" id="fifthButton" href="">
						{{ctrl.numButton + 2}}
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.nextPage()" class="page-link" 
						href="" tabindex="-1">
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
				<li class="page-item">
					<a ng-click="ctrl.lastPage()" class="page-link" 
						href="" tabindex="-1">
						<i class="fa fa-angle-double-right"></i>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="row" ng-show="authenticatedAdmin">
		<a class="btn btn-primary mb-3 mx-auto" ng-href="#!/hotels-add">
			Add new hotel
		</a>
	</div>
</div>