<div class="container">
	<div ng-show="!authenticated">
		<div class="col-lg-6 col-md-6 col-sm-8 loginbox">
			<div class=" row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
					<img src="img/logo.png" alt="Logo" class="logo left-10">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
					<span class="singtext">Sign in </span>
				</div>
			</div>
			<div class="row loginbox_content ">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">
							<i class="fas fa-user"></i>
						</span>
					</div>
					<input class="form-control" type="text" 
						ng-model="authController.credentials.emailUser" placeholder="Email">
				</div>
				<br>
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">
							<i class="fas fa-lock"></i>
						</span>
					</div>
					<input class="form-control" type="password" 
						ng-model="authController.credentials.password" placeholder="Password">
				</div>
			</div>
			<div class="row ">
				<div class="col-lg-8 col-md-8  col-sm-8 col-xs-7 registerHref ">
					<a href="#!account/register"> Register </a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 ">
					<a ng-click="authController.login()" class="btn btn-light" role="button">
						<span>
							LOG IN
							<i class="fas fa-sign-in-alt"></i>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-4 "></div>
	</div>
	<div ng-show="authenticated"> 
		<div ng-if="authenticated">
			{{ redirectToHomePage() }}
		</div>
	</div>
</div>