<div class="container">
	<div ng-show="authenticated">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="card-deck flex-column h-100">
					<div class="card mb-4 profile-card-2" ng-blur="ctrl.unFocusedEmailCard()">
						<div class="card-img-block" ng-if="!ctrl.isDesireToChangeEmail" 
							ng-click="ctrl.focusedEmailCard()" style="cursor: pointer;">
							<img class="card-img img-fluid imageListResult" 
								src="/img/gallary/2341.png" alt="Card image"/>
						</div>
						<div ng-if="!ctrl.isDesireToChangeEmail" ng-click="ctrl.focusedEmailCard()"
							style="cursor: pointer;">
							<div class="card-body pt-5">
								<img src="/img/icons/email.jpg" alt="Change email" class="profileIcon"/>
								<h5 class="card-title">Change your email address</h5>
							</div>
						</div>
						<div ng-if="ctrl.isDesireToChangeEmail">
							<div class="card-body">
								<div class="card-text">
									<div class="row justify-content-end pr-3" >
										<a style="cursor: pointer;" ng-click="ctrl.unFocusedEmailCard()">
											<i class="fas fa-times cos" style="pointer-events: none;"></i>
										</a>
									</div>
									<div class="row text-pofile m-2 pt-1">
										After changing your e-mail address you will be logged out
									</div>
									<div class="card-content mx-auto">
										<form name="emailForm">
											<i class="fas fa-envelope" ng-class="{'icon-profile': ctrl.iconProfileEmail, 
												'icon-profile-focused' : ctrl.iconProfileFocusedEmail}"></i>
											<input class="input-card" type="email" placeholder="e-mail"
												value="{{ ctrl.userEmail }}" ng-model="ctrl.userEmail" name="email"
												ng-focus="ctrl.setIconProfileFocusedEmail()" 
												ng-blur="ctrl.setIconProfileUnFocusedEmail()"
												ng-class="{validErrBorder: emailForm.email.$dirty 
												&& emailForm.email.$invalid}" required>
											<div class="input-card-border-bottom"></div>
											<span class="border-card"></span>
										</form>
									</div>
									<div class="row justify-content-end pr-3">
										<button type="submit" class="btn btn-primary mt-4"
											ng-click="ctrl.changeEmail()" ng-disabled="emailForm.$invalid">
											SUBMIT
											<i class="fas fa-angle-double-right pl-2" 
												style="pointer-events: none;"></i>
										</button>
									</div>
								</div>
							</div>
							<span class="form-text valid-err-text px-4 pb-4 font-weight-bold" 
								ng-show="emailForm.email.$dirty 
								&& emailForm.email.$invalid">
								<span ng-show="emailForm.email.$error.required">
									Email is required.
								</span>
								<span ng-show="emailForm.email.$error.email">
									Invalid email address.
								</span>
							</span>
							<div class="row px-4" ng-if="ctrl.msgEmail">
								<div class="mx-auto" style="color: red;">
									<p class="">{{ctrl.msgEmail}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="card-deck flex-column h-100">
					<div class="card mb-4 profile-card-2" ng-blur="ctrl.unFocusedPasswordCard()">
						<div class="card-img-block" ng-if="!ctrl.isDesireToChangePassword" 
							ng-click="ctrl.focusedPasswordCard()" style="cursor: pointer;">
							<img class="card-img img-fluid imageListResult" 
								src="/img/gallary/2342.jpg" alt="Card image" />
						</div>
						<div ng-if="!ctrl.isDesireToChangePassword" ng-click="ctrl.focusedPasswordCard()"
							style="cursor: pointer;">
							<div class="card-body pt-5">
								<img src="/img/icons/padlock.png" alt="Change password" class="profileIcon"/>
								<h5 class="card-title">Change your password</h5>
							</div>
						</div>
						<div ng-if="ctrl.isDesireToChangePassword">
							<div class="card-body">
								<div class="card-text">
									<div class="row justify-content-end pr-3">
										<a style="cursor: pointer;" ng-click="ctrl.unFocusedPasswordCard()">
											<i class="fas fa-times cos" style="pointer-events: none;"></i>
										</a>
									</div>
										<form name="passwordForm">
											<div class="card-content mx-auto my-3">
												<i class="fas fa-lock" ng-class="{'icon-profile': ctrl.iconProfileOldPassword, 
													'icon-profile-focused' : ctrl.iconProfileFocusedOldPassword}"></i>
												<input class="input-card" type="password" placeholder="Old password" 
													ng-model="ctrl.oldPassword" name="old"
													ng-focus="ctrl.setIconProfileFocusedOldPassword()" 
													ng-blur="ctrl.setIconProfileUnFocusedOldPassword()"
													ng-class="{validErrBorder: passwordForm.old.$dirty 
													&& passwordForm.old.$invalid}" required>
												<div class="input-card-border-bottom"></div>
												<span class="border-card"></span>
											</div>
											<div class="card-content row m-0 p-0">
												<div class="card-content col-5 mx-auto m-0 p-0">
													<i class="fas fa-lock" ng-class="{'icon-profile-new': ctrl.iconProfileNewPassword, 
														'icon-profile-focused' : ctrl.iconProfileFocusedNewPassword}"></i>
													<input class="input-card" type="password" placeholder="New" 
														ng-model="ctrl.newPassword" name="new"
														ng-focus="ctrl.setIconProfileFocusedNewPassword()" 
														ng-blur="ctrl.setIconProfileUnFocusedNewPassword()"
														ng-class="{validErrBorder: passwordForm.new.$dirty 
														&& passwordForm.new.$invalid}" required ng-minlength="8">
													<div class="input-card-border-bottom"></div>
													<span class="border-card"></span>
												</div>
												<div class="col-2 mx-auto m-0 p-0"></div>
												<div class="card-content col-5 mx-auto m-0 p-0">
													<i class="fas fa-lock" ng-class="{'icon-profile-new': ctrl.iconProfileConfirmPassword, 
														'icon-profile-focused' : ctrl.iconProfileFocusedConfirmPassword}"></i>
													<input class="input-card" type="password" placeholder="Confirm" 
														ng-model="ctrl.confirmPassword" name="confirm"
														ng-focus="ctrl.setIconProfileFocusedConfirmPassword()" 
														ng-blur="ctrl.setIconProfileUnFocusedConfirmPassword()"
														ng-class="{validErrBorder: passwordForm.confirm.$dirty 
														&& passwordForm.confirm.$invalid}" required ng-minlength="8"
														compare-to="ctrl.newPassword">
													<div class="input-card-border-bottom"></div>
													<span class="border-card"></span>
												</div>
											</div>
										</form>
									<div class="row justify-content-end pr-3">
										<button type="submit" class="btn btn-primary mt-4"
											ng-click="ctrl.changePassword()" ng-disabled="passwordForm.$invalid">
											SUBMIT
											<i class="fas fa-angle-double-right pl-2" 
												style="pointer-events: none;"></i>
										</button>
									</div>
								</div>
							</div>
							<span class="form-text valid-err-text px-4 pb-4 font-weight-bold" 
								ng-show="passwordForm.old.$dirty 
								&& passwordForm.old.$invalid">
								<span ng-show="passwordForm.old.$error.required">
									Old password is required.
								</span>
							</span>
							<span class="form-text valid-err-text px-4 pb-4 font-weight-bold" 
								ng-show="passwordForm.new.$dirty 
								&& passwordForm.new.$invalid">
								<span ng-show="passwordForm.new.$error.required">
									New password is required.
								</span>
								<span ng-show="passwordForm.new.$error.minlength">
									New password must have minimum 8 characters.
								</span>
							</span>
							<span class="form-text valid-err-text px-4 pb-4 font-weight-bold" 
								ng-show="passwordForm.confirm.$dirty 
								&& passwordForm.confirm.$invalid">
								<span ng-show="passwordForm.confirm.$error.required">
									Confirm password is required.
								</span>
								<span ng-show="passwordForm.confirm.$error.minlength">
									Confirm password must have minimum 8 characters.
								</span>
								<span ng-show="passwordForm.confirm.$error.compareTo">
									These passwords don't match.
								</span>
							</span>
							<div class="row px-4" ng-if="ctrl.msgPassword">
								<div class="mx-auto" style="color: red;">
									<p class="">{{ctrl.msgPassword}}</p>
								</div>
							</div>
							<div class="row px-4" ng-if="ctrl.msgPasswordSuccess">
								<div class="mx-auto" style="color: green;">
									<p class="">{{ctrl.msgPasswordSuccess}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="card-deck flex-column h-100" ng-click="ctrl.userDetails()" 
					style="cursor: pointer;">
					<div class="card mb-4 profile-card-2">
						<div class="card-img-block">
							<img class="card-img img-fluid imageListResult" src="/img/gallary/2344.jpg" alt="Card image"/>
						</div>
							<div class="card-body pt-5">
								<img src="/img/icons/about.png" alt="Change email" class="profileIcon"/>
								<h5 class="card-title">Change your other details</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="card-deck flex-column h-100">		
					<div class="card mb-4 profile-card-2">
						<div class="card-img-block">
							<img class="card-img img-fluid imageListResult" src="/img/gallary/2343.jpg" alt="Card image" />
						</div>
							<div class="card-body pt-5">
								<img src="/img/icons/globe.png" alt="Change password" class="profileIcon"/>
								<h5 class="card-title">Your reservations</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<div ng-show="!authenticated"> 
		<div ng-if="!authenticated">
			{{ redirectToLoginPage() }}
		</div>
	</div>
</div>