body {
	background: url('../img/mainBackground.jpg') center;
}

.jumbotron {
    padding: 2em 5em;
}

.jumbo-custom {
	background: url('../img/jumboBackground/home.jpg') center;
	background-size: cover;
}

.jumbo-destinations {
	background: url('../img/jumboBackground/destinations.jpg') center;
	background-size: cover;
}

.text-shadow {
	text-shadow:	-5px 0 8px black, 
				0 5px 8px black,
				5px 0 8px black,
				0 -5px 8px black,
				-10px 0 8px black, 
				0 10px 8px black,
				10px 0 8px black, 
				0 -10px 8px black;
}

.logo-40 {
	width: 40px;
	height: 40px;
}

.logo-60 {
	width: 60px;
	height: 60px;
}

.left-10 {
	margin-left: 10%;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loginbox{    
	background: white;
	color: black;
	margin: 10% auto auto auto;
	width: 50%;
	max-width: 500px;
	left: 0;
	padding: 20px;   
	box-shadow: 0 8px 50px -2px #000;
	border-radius: 5px;
}

@media (max-width:767px) {
	.loginbox{ 
		margin-top: 10%;
	}    
}

.loginbox_content{
	padding:5% 11% 5% 11%;
}

.singtext{
	font-family: "Open Sans",sans-serif;
	font-size: 27px;  
	color: #22aae1;
	float: right;
	padding-right: 25%;
}

.submit-btn{
	float: right;
	margin-right: 28%;
}

.registerHref{
	padding-left: 10%;
}

.registerbox{  
	background: white;
	color: black;
	max-width: 500px;
	margin: 10px auto 50px auto;
	box-shadow: 0 8px 50px -2px #000;
}

@media (max-width:800px) {
	.submit-btn{
		margin-right: 23%;
	}
}

.tableTextWhite {
	color:  #ccd1d1;
}

.warn {
	font-size: 27px;
	font-weight: bold;
}

.err-msg {
	font-size: 18px;
	font-weight: bold;
	color: #cc0404;
}

.success-msg {
	font-size: 18px;
	font-weight: bold;
	color: #009c08;
}

.text-size-16 {
	font-size: 16px;
}

.text-size-rem-09 {
	font-size: 0.9rem;
}

.imageListResult {
	height: 100%;
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.card-img-part {
	height: 38%;
}

.card-body-part {
	height: 50%;
}

.card-footer-part {
	height: 12%;
}

.valid-err-text {
	color: #F95454;
}

.validErrBorder {
	border: solid 2px #F95454;
	box-shadow: 0px 0px 5px #F95454;
}

.valid-err-text-two {
	color: #cb3328;
	background: white;
	border-radius: 5px;
	font-weight: bold;
	display: inline-block;
}

.hotel-country-search {
	position: absolute;
	z-index: 1;
	top: 38px;
	left: 30px;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
	background: #CCC;
}

.search-list {
	min-width: 160px;
}

.focused-search:hover {
	color: #0046b5 !important;
	font-weight: bold;
	cursor: pointer;
}

.dropdown-item {
	color: #5e5e5e;
}

.dropdown-item:hover {
	background-color: #3c5fe8 !important;
	color: white !important;
}

.topic{
	font-size: 13px !important;
	color: #0046b5 !important;
}

.content{
	font-size: 10px !important;
}

.search-card {
	background: rgba(25, 25, 25, .7);
}

.scroll-text{
	position: absolute;
	height: 400px;
	overflow: auto;
	padding: 0px 15px;
	z-index: 1;
}
.scroll-text::-webkit-scrollbar {  
    width: 8px;  
}  
.scroll-text::-webkit-scrollbar-track {  
    background-color: #E7E7E7
}  
.scroll-text::-webkit-scrollbar-thumb {  
   background-color: rgba(223, 86, 86, 0.69);
	border: 1px solid rgba(92, 92, 92, 0.5);
	border-radius: 10px;
}  
.scroll-text::-webkit-scrollbar-thumb:hover {  
    background-color: #000;  
}  

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul.dashed {
	list-style: none;
	padding-left: 0;
}

ul.dashed > li {
	margin-left: 10px;  
}

ul.dashed > li::before {
	content: "- ";
	font-weight: bold;
	margin-left: -10px;
}
