body {
	background: url('../img/mainBackground.jpg') center;
}

.jumbo-custom {
	background: url('../img/jumboBackground.jpg') center;
}

.text-shadow {
	text-shadow:	-5px 0 8px black, 
				0 5px 8px black,
				5px 0 8px black,
				0 -5px 8px black,
				-10px 0 8px black, 
				0 10px 8px black,
				10px 0 8px black, 
				0 -10px 8px black;
}

.logo {
	width: 50px;
	height: 50px;
}

.left-10 {
	margin-left: 10%;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loginbox{  
	background: white;
	color: black;
	margin: 50px auto 50px auto;
	width: 50%;
	left: 0;
	padding: 20px;   
	box-shadow: 0 8px 50px -2px #000;
	border-radius:5px;
}

@media (max-width:767px) {
	.loginbox{ 
		margin-top: 10%;
	}    
}

.loginbox_content{
	padding:5% 11% 5% 11%;
}

.singtext{
	font-family: "Open Sans",sans-serif;
	font-size: 27px;  
	color: #22aae1;
	float: right;
	padding-right: 25%;
}

.submit-btn{
	float: right;
	margin-right: 28%;
}

.registerHref{
	padding-left: 10%;
}

.registerbox{  
	background: white;
	color: black;
	margin: 50px auto 50px auto;
	box-shadow: 0 8px 50px -2px #000;
}

@media (max-width:800px) {
	.submit-btn{
		margin-right: 23%;
	}
}

.tableTextWhite {
	color:  #ccd1d1;
}

.test {
	background: rgba(0,0,0,0.4);
}

.warn {
	font-size: 27px;
	font-weight: bold;
}

.text-size-16 {
	font-size: 16px;
}

.text-size-rem-09 {
	font-size: 0.9rem;
}

.imageListResult {
	height: 100%;
	width: 100%;
	object-fit:cover;
}

.valid-err-text {
	color: #F95454;
}

.validErrBorder {
	border: solid 2px #F95454;
	box-shadow: 0px 0px 5px #F95454;
}

ul, ul li {
	list-style: none outside;
	margin:0;
	padding:0;
}