.profile-card-2 .card-img-block {
	float: left;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.profile-card-2 .card-body {
	position: relative;
}

.profile-card-2 .profileIcon {
	border-radius: 50%;
	position: absolute;
	top: -42px;
	left: 25%;
	max-width: 75px;
	border: 3px solid rgba(255, 255, 255, 1);
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

.profile-card-2 h5 {
	font-weight: 600;
	color: #007bff;
}

.profile-card-2 .card-text {
	font-weight: 300;
	font-size: 15px;
}

.profile-card-2 .icon-block {
	float: left;
	width: 100%;
}

.profile-card-2 .icon-block a {
	text-decoration: none;
}

.profile-card-2 i:hover {
	background-color: #007bff;
	color: #fff;
}

.text-pofile {
	color: #0049bf;
	font-weight: bold;
}

.icon-profile {
	font-size: 15px;
	pointer-events: none;
	min-width: 15px;
}

.icon-profile-focused {
	font-size: 15px;
	pointer-events: none;
	color: #0049bf;
	min-width: 15px;
}

.icon-profile-new {
	font-size: 15px;
	color: #15910a;
	pointer-events: none;
	min-width: 15px;
}

.card-content {
	position: relative;
}

.input-card {
	width: calc(100% - 20px);
	font-size: 15px;
	border: 0;
	padding: 10px 10px;
	outline: none;
}

.input-card:focus {
	width: calc(100% - 20px);
	font-size: 15px;
	border: 0;
	padding: 10px 10px;
	outline: none;
}

.input-card-border-bottom {
	width: 100%;
	border-bottom: 1px solid #929fba;
}

.input-card ~ .border-card {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
}

.input-card:focus ~ .border-card {
	width: 100%;
	transition: 0.5s;
}
.border-card {
	border: 1px solid #0049bf !important;
}