<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="form">
				<div class="input-group mb-2 mr-sm-2">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<input type="text" class="form-control" id="searchInput"
						placeholder="Category" ng-model="roomCategoryName">
					<button class="btn btn-primary mx-1"
						ng-click="ctrl.search(roomCategoryName)">Search</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card border-dark mb-3" ng-repeat="room in ctrl.room">
		<div class="row no-gutters">
			<div class="col-md-4 text-center bg-secondary">
				<img ng-src="data:image/jpeg;base64,{{room.imgSrc}}"
					class="card-img img-fluid imageListResult" alt="...">
			</div>
			<div class="col-md-8">
				<ul class="list-group list-group-horizontal" style="height: 100%;">
					<li class="list-group-item w-100">
						<div class="card-body">
							<div class="items col-12 clearfix">
								<div class="info-block block-info clearfix">
									<div class="square-box">
										<span class="glyphicon glyphicon-user glyphicon-lg"></span>
									</div>
									<div class="row">
										<div class="col-sm-3 font-weight-bold text-size-16">
											#{{room.id}}
										</div>
										<div class="w-100 mb-3"></div>
										<div class="col text-size-16">
											Number Of Single Beds:
											<strong>{{room.numberOfSingleBeds}}</strong>
										</div>
										<div class="col text-size-16">
											Number Of Double Beds:
											<strong>{{room.numberOfDoubleBeds}}</strong>
										</div>
										<div class="w-100 mb-3"></div>
										<div class="col text-size-16">
											Price:
											<strong>{{room.roomPrice}}</strong>
										</div>
										<div class="col text-size-16">
											Category:
											<strong>{{room.roomCategory}}</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item-dark p-2" ng-show="authenticatedAdmin"
						style="display: flex; align-items: center;">
						<div class="btn-group-vertical">
							<button class="btn btn-sm btn-primary mb-3" title="Edit">
								<a ng-href="#!/hotels/rooms-edit/{{room.id}}" class="text-white">
									<i class="fas fa-edit"></i>
								</a>
							</button>
							<button class="btn btn-sm btn-success mb-3" title="Choose this room"
								ng-click="ctrl.setRoom(room)">
								<a ng-href="" class="text-white">
									<i class="fas fa-check"></i>
								</a>
							</button>
							<button class="btn btn-sm btn-danger" title="Delete">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<a class="btn btn-primary mb-3 mx-auto" ng-href="#!/hotels/{{ctrl.hotelId}}/rooms-add" 
			ng-show="authenticatedAdmin">
			Add new room
		</a>
		<a class="btn btn-primary mb-3 mx-auto" ng-href="#!/hotels">
			Hotels
		</a>
	</div>
</div>