<div class="container">
	<div ng-show="!authenticated">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card registerbox">
					<header class="card-header">
						<div class="form-row">
							<div class="col form-group">
								<h4 class="card-title mt-2">Sign up</h4>
							</div>
							<div class="col form-group">
								<img src="img/logo.png" alt="Logo" class="logo center-img">
							</div>
							<div class="col form-group">
								<a href="#!account/login"
									class="float-right btn btn-outline-primary mt-1">
									Log in
								</a>
							</div>
						</div>
					</header>
					<article class="card-body">
						<div class="row" ng-if="ctrl.msg">
							<div class="mx-auto">
								<p class="text-danger">{{ctrl.msg}}</p>
							</div>
						</div>
						<form name="myForm">
							<div class="form-row">
								<div class="col form-group">
									<label>First name </label>
									<input type="text" class="form-control" placeholder="First name"
										ng-model="ctrl.userRegister.firstName" name="firstName">
									<small ng-if="ctrl.errFirstName" class="form-text valid-err">
										{{ ctrl.errFirstNameMsg }}
									</small>
								</div>
								<div class="col form-group">
									<label>Last name</label>
									<input type="text" class="form-control" placeholder="Surname"
										ng-model="ctrl.userRegister.lastName">
									<small ng-if="ctrl.errLastName" class="form-text valid-err">
										{{ ctrl.errLastNameMsg }}
									</small>
								</div>
							</div>
							<div class="form-group">
								<label>Mobile phone</label>
								<input type="text" class="form-control"
									placeholder="Mobile phone"
									ng-model="ctrl.userRegister.mobilePhone">
								<small ng-if="ctrl.errMobilePhone" class="form-text valid-err">
									{{ ctrl.errMobilePhoneMsg }}
								</small>
							</div>
							<div class="form-group">
								<label>Email address <small>- will be your login</small></label>
								<input type="email" class="form-control"
									placeholder="Email address" ng-model="ctrl.userRegister.email">
								<small ng-if="ctrl.errEmail" class="form-text valid-err">
									{{ ctrl.errEmailMsg }}
								</small>
							</div>
							<div class="form-group">
								<label>Pesel</label>
								<input type="text" class="form-control" placeholder="Pesel"
									ng-model="ctrl.userRegister.pesel">
								<small class="form-text text-muted">
									We'll never share your pesel number with anyone else.
								</small>
							</div>
							<div class="form-row">
								<div class="col form-group">
									<label>Create password</label>
									<input class="form-control" type="password"
										placeholder="Password" ng-model="ctrl.userRegister.password">
									<small ng-if="ctrl.errPassword" class="form-text valid-err">
										{{ ctrl.errPasswordMsg }}
									</small>
								</div>
								<div class="col form-group">
									<label>Confirm Password</label>
									<input class="form-control" type="password"
										placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block"
									ng-click="ctrl.saveUserRegister()">Register</button>
							</div>
							<div class="row" ng-if="ctrl.msg">
								<div class="mx-auto">
									<p class="text-danger">{{ctrl.msg}}</p>
								</div>
							</div>
							<small class="text-muted">
								By clicking the 'Register' button, you confirm that you accept our
								<br>
								Terms of use and Privacy Policy.
							</small>
						</form>
					</article>
					<div class="border-top card-body text-center">
						Have an account?
						<a href="#!account/login">Log In</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="authenticated"> 
		<div ng-if="authenticated">
			{{ redirectToHomePage() }}
		</div>
	</div>
</div>