<div class="container">
	<div ng-show="authenticatedAdmin">
		<div class="row tableTextWhite">
			<div class="mx-auto">
				<h2 ng-if="ctrl.hotel.id">Edit hotel</h2>
				<h2 ng-if="!ctrl.hotel.id">New hotel</h2>
			</div>
		</div>
		<div class="row" ng-if="ctrl.msg">
			<div class="mx-auto">
				<p class="text-danger warn text-shadow">{{ctrl.msg}}</p>
			</div>
		</div>
		<div class="row tableTextWhite">
			<form name="hotelForm" class="mx-auto col-10 col-md-8" enctype="multipart/form-data">
				<p class="mx-auto col-10 col-md-9">Id: {{ctrl.hotel.id}}</p>
				<div class="form-group row">
					<div class="image-area row x-auto col-4 float-left">
						<img id="imageResult"
							ng-src="data:image/jpeg;base64,{{ctrl.imgSrc}}" alt=""
							class="img-fluid my-auto rounded shadow-sm mx-auto d-block">
					</div>
					<div
						class="input-group my-auto mx-auto col-7 mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
						<label id="image-label">Main hotel image:</label>
						<input type="file" class="form-control border-0" id="upload"
							ng-change="ctrl.readURL()" ng-model="ctrl.upload"
							file-model="ctrl.file">
						<label id="upload-label" for="upload"
							class="font-weight-light text-muted">
							Choose file
						</label>
						<div class="input-group-append">
							<label for="upload" class="btn btn-light m-0 rounded-pill px-4">
								<i class="fa fa-cloud-upload mr-2 text-muted"></i>
								<small class="text-uppercase font-weight-bold text-muted">
									Choose file
								</small>
							</label>
						</div>
					</div>
				</div>
				<div class="mx-auto col-10 col-md-9">
					<div class="form-group">
						<label for="hotelName">Hotel Name:</label>
						<input type="text" class="form-control"
							id="hotelNameInput" placeholder="Hotel Name"
							ng-model="ctrl.hotel.hotelName"
							ng-class="{validErrBorder: hotelForm.hotelName.$dirty 
							&& hotelForm.hotelName.$invalid}" name="hotelName"
							required ng-maxlength="30">
						<small>
							<span class="form-text valid-err-text-two" 
								ng-show="hotelForm.hotelName.$dirty 
								&& hotelForm.hotelName.$invalid">
								<span ng-show="hotelForm.hotelName.$error.required">
									- Hotel name is required. -
								</span>
								<span ng-show="hotelForm.hotelName.$error.maxlength">
									- Hotel name must have maximum 30 characters. -
								</span>
							</span>
						</small>
						<small ng-if="ctrl.errHotelName" class="form-text valid-err-text-two">
							- {{ ctrl.errHotelNameMsg }} -
						</small>
					</div>
					<div class="form-group">
						<label for="countryName">Country Name:</label>
						<input type="text" name="countryName" id="countryName" ng-model="ctrl.hotel.country" 
							ng-keyup="ctrl.completeCountry(ctrl.hotel.country)" class="form-control" 
							ng-mousedown="ctrl.completeCountry(ctrl.country)"
							placeholder="Country Name" ng-focus="focusedCountry = true" autocomplete="off"
							ng-blur="focusedCountry = false" ng-change="ctrl.countryIsChosen = false"
							ng-class="{validErrBorder: hotelForm.countryName.$dirty 
							&& hotelForm.countryName.$invalid}"
							required>
						<ul class="list-group col-11" ng-model="ctrl.hideCountry" ng-hide="ctrl.hideCountry"
							ng-show="focusedCountry" style="position: absolute; z-index: 1;">
							<li class="list-group-item list-group-item-action border border-secondary" 
							ng-repeat="countryData in ctrl.filterCountry" 
							ng-mousedown="ctrl.fillCountryTextbox(countryData)">{{countryData}}</li>
						</ul>
						<small>
							<span class="form-text valid-err-text-two" 
								ng-show="hotelForm.countryName.$dirty 
								&& hotelForm.countryName.$invalid">
								<span ng-show="hotelForm.countryName.$error.required">
									- Country is required. -
								</span>
							</span>
							<span class="form-text valid-err-text-two" 
								ng-show="ctrl.errorCountryMessage">
								- Country must be selected from the list. -
							</span>
						</small>
						<small ng-if="ctrl.errCountryName" class="form-text valid-err-text-two">
							- {{ ctrl.errCountryNameMsg }} -
						</small>
					</div>
					<div class="form-group">
						<div ng-show="ctrl.countryIsChosen">
							<label for="cityName">City Name:</label>
							<input type="text" name="cityName" id="cityName" ng-model="ctrl.hotel.city" 
								ng-keyup="ctrl.completeCity(ctrl.hotel.city)" class="form-control" 
								ng-mousedown="ctrl.completeCity(ctrl.hotel.city)"
								placeholder="City Name" ng-focus="focusedCity = true" autocomplete="off"
								ng-blur="focusedCity = false" ng-change="ctrl.cityIsChosen = false"
								ng-class="{validErrBorder: hotelForm.cityName.$dirty 
								&& hotelForm.cityName.$invalid}"
								required>
							<ul class="list-group col-11" ng-model="ctrl.hideCity" ng-hide="ctrl.hideCity"
								ng-show="focusedCity" style="position: absolute; z-index: 1;">
								<li class="list-group-item list-group-item-action border border-secondary" 
								ng-repeat="cityData in ctrl.filterCity track by $index" 
								ng-mousedown="ctrl.fillCityTextbox(cityData)">{{cityData}}</li>
							</ul>
						</div>
						<small>
							<span class="form-text valid-err-text-two" 
								ng-show="hotelForm.cityName.$dirty 
								&& hotelForm.cityName.$invalid">
								<span ng-show="hotelForm.cityName.$error.required">
									- City selection is required. -
								</span>
							</span>
							<span class="form-text valid-err-text-two" 
								ng-show="ctrl.errorCityMessage">
								- City must be selected from the list. -
							</span>
						</small>
						<small ng-if="ctrl.errCityName" class="form-text valid-err-text-two">
							- {{ ctrl.errCityNameMsg }} -
						</small>
						<small ng-if="ctrl.errRegionName" class="form-text valid-err-text-two">
							- {{ ctrl.errRegionNameMsg }} -
						</small>
					</div>
					<div class="form-group">
						<label for="description">Description:</label>
						<textarea class="form-control" rows="5" aria-label="With textarea"
							id="descriptionInput" placeholder="Description"
							ng-model="ctrl.hotel.description"
							ng-class="{validErrBorder: hotelForm.description.$dirty 
							&& hotelForm.description.$invalid}" name="description"
							ng-maxlength="300">
						</textarea>
						<small>
							<span class="form-text valid-err-text-two" 
								ng-show="hotelForm.description.$dirty 
								&& hotelForm.description.$invalid">
								<span ng-show="hotelForm.description.$error.maxlength">
									- Description must have maximum 300 characters. -
								</span>
							</span>
						</small>
						<small ng-if="ctrl.errDescription" class="form-text valid-err-text-two">
							- {{ ctrl.errDescriptionMsg }} -
						</small>
					</div>
					<div class="row" ng-if="ctrl.msg">
						<div class="mx-auto">
							<p class="text-danger warn text-shadow">{{ctrl.msg}}</p>
						</div>
					</div>
					<div class="form-group mb-5">
						<button ng-if="!ctrl.hotel.id" type="submit" class="btn btn-success"
							ng-click="ctrl.saveHotel()" ng-disabled="hotelForm.$invalid">
							Save
						</button>
						<button ng-if="ctrl.hotel.id" type="submit" class="btn btn-success"
							ng-click="ctrl.updateHotel()" ng-disabled="hotelForm.$invalid">
							Update
						</button>
					</div>
					<div class="row">
						<a class="btn btn-primary mb-3 mx-auto" ng-href="#!/admin/hotels">Hotels</a>
						<a ng-if="ctrl.hotel.id" class="btn btn-primary mb-3 mx-auto"
							ng-href="#!/admin/hotels-add">Add another hotel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-show="!authenticatedAdmin"> 
		<div ng-if="authenticatedUser">
			{{ redirectToHomePage() }}
		</div>
		<div ng-if="!authenticated">
			{{ redirectToLoginPage() }}
		</div>
	</div>
</div>