<div class="container">
	<div class="row tableTextWhite">
		<div class="mx-auto">
			<h2 ng-if="ctrl.roomCategory.id">Edit category</h2>
			<h2 ng-if="!ctrl.roomCategory.id">New category</h2>
		</div>
	</div>
	<div class="row" ng-if="ctrl.msg">
		<div class="mx-auto">
			<p class="text-danger warn text-shadow">{{ctrl.msg}}</p>
		</div>
	</div>
	<div class="row tableTextWhite">
		<form class="mx-auto col-10 col-md-6">
			<p>Id: {{ctrl.roomCategory.id}}</p>
			<div class="form-group">
				<label for="firstNameInput">Name:</label>
				<input type="text" class="form-control" id="firstNameInput"
					placeholder="Category name" ng-model="ctrl.roomCategory.name">
			</div>
			<div class="row" ng-if="ctrl.msg">
				<div class="mx-auto">
					<p class="text-danger warn text-shadow">{{ctrl.msg}}</p>
				</div>
			</div>
			<div class="form-group mb-5">
				<button ng-if="!ctrl.roomCategory.id" type="submit"
					class="btn btn-success" ng-click="ctrl.saveRoomCategory()">Save</button>
				<button ng-if="ctrl.roomCategory.id" type="submit"
					class="btn btn-success" ng-click="ctrl.updateRoomCategory()">Update</button>
			</div>
			<div class="row">
				<a class="btn btn-primary mb-3 mx-auto"
					ng-href="#!/hotels/rooms/categories">Categories</a>
				<a ng-if="ctrl.roomCategory.id" class="btn btn-primary mb-3 mx-auto"
					ng-href="#!hotels/rooms/categories-add">Add another category</a>
			</div>
		</form>
	</div>
</div>