<div class="container min-cont-700">
	<div ng-if="authenticatedAdmin">
		<div ng-if="ctrl.msg">
			<div class="row justify-content-center">
				<div class="col-8 info-box rounded bg-light p-2 m-2">
					<div class="row">
						<div class="col-12 d-flex justify-content-center 
 							align-items-center display-4 text-danger text-center">
							<i class="fa fa-info-circle"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p class="err-msg m-2 text-center">
								{{ctrl.msg}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="row text-center text-white py-3">
				<h2>Hotel Advantages List</h2>
			</div>
		</div>
		<div class="row mx-1">
			<div class="table-responsive col-12">
				<table class="table table-hover tableTextWhite">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Description</th>
							<th scope="col" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="advantage in ctrl.advantages">
							<th scope="row">{{advantage.id}}</th>
							<td>{{advantage.descriptionAdvantage}}</td>
							<td class="text-center" style="min-width: 130px;">
								<button class="btn btn-sm btn-primary" title="Edit"
									ng-click="ctrl.redirectToAdvantagesEdit(advantage.id)">
									<a ng-href="" class="text-white">
										<i class="fas fa-edit"></i>
									</a>
								</button>
								<button class="btn btn-sm btn-danger" title="Delete"
									ng-confirm-click="Are you sure to delete this advantage ?" 
									confirmed-click="ctrl.deleteAdvantage(advantage)">
									<i class="fas fa-trash-alt"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="mx-auto">
				<a class="btn btn-primary m-2"
					ng-href="#!/admin/hotels/{{ ctrl.hotelId }}/advantages-add">
					Add new advantage
				</a>
			</div>
			<div class="mx-auto">
				<a class="btn btn-primary m-2" ng-href="#!/admin/hotels" 
					ng-if="authenticatedAdmin">
					Hotels
				</a>
			</div>
		</div>
	</div>
	<div ng-if="!authenticatedAdmin"> 
		<div ng-if="authenticatedUser">
			{{ redirectToHomePage() }}
		</div>
		<div ng-if="!authenticated">
			{{ redirectToLoginPage() }}
		</div>
	</div>
</div>